<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <title>Confeitaria</title>
</head>
<body>
   <header>
    <div class="logo-container">
        <img src="./images/logo_marca.jpg" alt="logo_loja">
    </div>
    <div class="nav-links">
        <a href="#" class="header-btn">Home</a>
        <a href="#" class="header-btn">Produtos</a>
        <a href="#" class="header-btn">Sobre Nós</a>
        <a href="#" class="header-btn">Contato</a>
    </div>
   </header>
   <main></main>
   <footer></footer> 
</body>
</html>
